.icon-button {
	display: flex;
	padding: 4px;
	border-radius: 5px;
	background: transparent;
	border: none;
	font: inherit;
}

.icon-button:hover {
	background-color: var(--clr-highlight);
	cursor: pointer;
}