.sound {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	flex-basis: 240px;
	row-gap: 5px;
	box-sizing: border-box;
	height: 160px;
	
	border-radius: 5px;
	padding: 5px 15px 10px 15px;
	background: var(--clr-base-20);
	border: 1px solid var(--clr-border);
	user-select: none;
}

.sound-title {
	display: flex;
	gap: 8px;
	justify-content: space-between;
}

.sound-title>input {
	font-size: var(--font-size-h3);

}

.sound input {
	width: 100%;
	box-sizing: border-box;
}

.sound-play-btn {
	display: block;
}

.sound .sound-title input {
	border: none;
	background: none;
	color: var(--text-normal);
}

.sound .sound-title input:focus {
	outline: none;
}

.effects-list {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

:is(.effects-list-item, .effects-add-button) {
	position: relative;

	font-size: .9em;
	padding: 3px 6px 3px 12px;
	border-radius: 4px;
	cursor: pointer;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

:is(.effects-list-item, .effects-add-button):hover {
	background: var(--clr-base-25);
}

.effects-list-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3px;
}

.effects-list-item label {
	cursor: inherit;
	width: 100%;
}

.effects-list-item__title-row {
	display: flex;
	width: 100%;
	align-items: center;
}