:is(.markdown-rendered, .markdown-preview-view) a {
	position: relative;
	display: inline-block;
	background: none;
	padding: 0 6px;
	text-decoration: none;
	background: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.08);	
	border-radius: 4px;
}

:is(.markdown-rendered, .markdown-preview-view) a:hover {
	background: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.15);
}