/*  */


/* Этот файл существует только для меня. Не включай его. Здесь мои настройки, которые я бы хотел чтобы ты не трогал. */



div.kanban-plugin {
	--lane-width: 310px;
	--column-padding: 7px 5px 7px 15px;
}

.kanban-plugin__board>div {
	column-gap: 10px;
}


.kanban-plugin__lane .kanban-plugin__lane-grip {
	display: none;
	height: 100%;
}

.kanban-plugin__lane-header-wrapper:hover .kanban-plugin__lane-grip {
	display: block;
	opacity: 0.8;
}



.kanban-plugin__lane {
	border: none;
	background: none;
}


.kanban-plugin__lane-header-wrapper {
	background: var(--color-base-20);
	padding: var(--column-padding);
	border-radius: 5px;
	border: none;
	align-items: stretch;
}

.kanban-plugin__lane-header-wrapper:hover {
	padding-left: 8px;
}

.kanban-plugin__lane-title-text {
	font-size: 1.5em;
}



.kanban-plugin__item-button-wrapper {
	border-top: none;
}

button.kanban-plugin__new-item-button {
	font-size: 0em;
	color: var(--color-base-50);
	border: none;
	box-shadow: none;
}

button.kanban-plugin__new-item-button:hover {
	color: var(--color-base-80);
	background: var(--color-base-30);
}

.kanban-plugin__new-item-button>span {
	font-size: 1.5rem;
	padding-bottom: 0.25rem;
}




.kanban-plugin__lane-items.kanban-plugin__vertical {
	padding: 0;
	margin: 0;
	order: 3;
}

.kanban-plugin__lane-items.kanban-plugin__vertical::-webkit-scrollbar {
	display: none;
}

.kanban-plugin__item {
	border: none;
}

.kanban-plugin__item-title-wrapper {
	padding: var(--column-padding);
	background: var(--color-base-20);
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata {
	padding-top: 8px;
	width: fit-content;
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata>.kanban-plugin__item-metadata-date-wrapper.has-background {
	background-color: transparent;
	color: var(--color-base-70);
	padding: 0;
	margin: 0;
	/* margin-bottom: 3px; */
	display: flex;
	align-items: center;
	column-gap: 0.3rem;
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata>.kanban-plugin__item-metadata-date-wrapper.has-background::before {
	content: '⬤ ';
	font-size: 0.6em;
	padding-top: 0.1rem;
	color: var(--pip-color);
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata-date-wrapper[style*='background-color:rgba(0, 0, 0, 1);'] {
	--pip-color: var(--color-red);
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata-date-wrapper[style*='--date-background-color:rgba(255, 0, 0, 1);'] {
	--pip-color: var(--color-yellow);
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata-date-wrapper[style*='--date-background-color:rgba(255, 252, 85, 1);'] {
	--pip-color: var(--color-yellow);
}

.kanban-plugin__board>div> :nth-last-child(2) .kanban-plugin__item-metadata-date-wrapper {
	--pip-color: var(--color-base-70);
}


.kanban-plugin__item-tags {
	margin: 5px 0 0 0;
}