/*  */


/* Этот файл существует только для меня. Не включай его. Здесь мои настройки, которые я бы хотел чтобы ты не трогал. */



div.kanban-plugin {
	--lane-width: 310px;
	--column-padding: 7px 5px 7px 15px;
}

.kanban-plugin__board>div {
	column-gap: 10px;
}

.kanban-plugin__lane {
	row-gap: 5px;
}


.kanban-plugin__lane .kanban-plugin__lane-grip {
	overflow: hidden;
	opacity: 0;
	margin: 0;
	width: 0;
	border-radius: 5px;
	cursor: hand;
	transition: all .2s ease;
	/* transition: bg 0s; */
}

.kanban-plugin__lane-header-wrapper:hover .kanban-plugin__lane-grip {
	width: max-content;
	padding: 4px 6px 4px 4px;
	margin-right: 5px;
	opacity: 0.8;
}

.kanban-plugin__lane-grip:hover {
	opacity: 1;
	color: var(--icon-color-hover);
}

.kanban-plugin__lane {
	border: none;
	background: none;
}


.kanban-plugin__lane-header-wrapper {
	background: var(--color-base-20);
	padding: var(--column-padding);
	border-radius: 5px;
	border: none;
	align-items: center;
}

.kanban-plugin__lane-header-wrapper:hover {
	padding-left: 8px;
}

.kanban-plugin__lane-title-text {
	font-size: 1.5em;
	padding-bottom: 0.1rem;
}

.kanban-plugin__lane-header-wrapper .kanban-plugin__icon {
	width: 14px;
	height: 14px;
}



.kanban-plugin__item-button-wrapper {
	padding: 0;
	border-top: none;
}

button.kanban-plugin__new-item-button {
	font-size: 0em;
	color: var(--color-base-50);
	border: none;
	box-shadow: none;
	height: 32px;
}

button.kanban-plugin__new-item-button:hover {
	color: var(--color-base-80);
	background: var(--color-base-30);
}

.kanban-plugin__new-item-button>span {
	font-size: 1.5rem;
	padding-bottom: 0.25rem;
}

.kanban-plugin__item-form {
	padding: 0;
	border: none;
}

.kanban-plugin__item-form>.kanban-plugin__item-input-wrapper {
	border: none;
	background: var(--color-base-20);
	padding: var(--column-padding);

}

.kanban-plugin__item-form textarea {
	background: none;
}



.kanban-plugin__lane-items.kanban-plugin__vertical {
	padding: 0;
	margin: 0;
	order: 3;
	row-gap: 6px;
	border-radius: 5px;
}

.kanban-plugin__lane-items.kanban-plugin__vertical::-webkit-scrollbar {
	display: none;
}

div.kanban-plugin__item-wrapper {
	margin-top: 0;
}

.kanban-plugin__item {
	border: none;
}

.kanban-plugin__item-title-wrapper {
	padding: var(--column-padding);
	background: var(--color-base-20);
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata {
	padding-top: 8px;
	width: fit-content;
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata>.kanban-plugin__item-metadata-date-wrapper.has-background {
	background-color: transparent;
	color: var(--color-base-70);
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	column-gap: 0.3rem;
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata>.kanban-plugin__item-metadata-date-wrapper.has-background::before {
	content: '⬤ ';
	font-size: 0.6em;
	padding-top: 0.1rem;
	color: var(--pip-color);
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata-date-wrapper[style*='background-color:rgba(0, 0, 0, 1);'] {
	--pip-color: var(--color-red);
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata-date-wrapper[style*='--date-background-color:rgba(255, 0, 0, 1);'] {
	--pip-color: var(--color-yellow);
}

.kanban-plugin__item-content-wrapper .kanban-plugin__item-metadata-date-wrapper[style*='--date-background-color:rgba(255, 252, 85, 1);'] {
	--pip-color: var(--color-yellow);
}

.kanban-plugin__board>div> :nth-last-child(2) .kanban-plugin__item-metadata-date-wrapper {
	--pip-color: var(--color-base-70);
}


.kanban-plugin__item-tags {
	margin: 5px 0 0 0;
}



.kanban-plugin__item-tags>.tag {
	position: relative;
	background: hsla(var(--interactive-accent-hsl), .1);
	color: hsla(var(--interactive-accent-hsl), 0.8);
}

.kanban-plugin__item-tags>.tag::before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.kanban-plugin__item-tags>.tag>span {
	display: none;
}