.scene {
	padding: 20px 50px;
}

.sounds_list {
	display: flex;
	flex-wrap: wrap;
	column-width: 200px;
	column-gap: 5px;
	row-gap: 5px;
}

.sound {
	display: flex;
	background: #eee;
	padding: 5px 15px;
	flex-direction: column;
	row-gap: 5px;
	border-radius: 5px;
	border: 1px solid #000;
	flex-basis: 100px;
}

.sound_title {
	display: flex;
	justify-content: space-between;
}

.sound h2 {
	font-size: 1em;
	margin: 0;
}

.sound .close_btn {
	padding: 0 6px;
	background: transparent;
	border-radius: 5px;
}

.sound .close_btn:hover {
	background: rgba(0, 0, 0, .2);
	cursor: pointer;
}

.sound .close_btn::selection {
	display: none;
}

.sound .play_btn {
	display: block;
}

.sound .play_btn {
	display: block;
}

.sound_add_btn {
	background: #eee;
	padding: 5px 15px;
	border-radius: 5px;
	border: 1px solid #000;
	flex-basis: 100px;
}

.sound_add_btn p {
	text-align: center;
}

.sound_add_btn:hover {
	background: #ddd;
	cursor: pointer;
}

.sound_add_btn:active {
	background: #ccc;
}

.sound_add_btn p::selection {
	display: none;
}