@font-face {
	font-family: Nunito;
	src: url('assets/Nunito-VariableFont_wght.ttf');
}

@font-face {
	font-family: Nunito;
	src: url('assets/Nunito-Italic-VariableFont_wght.ttf');
	font-style: italic;
}


body {
	margin: 0;
	font-family: Nunito, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--clr-text-normal);
	background: var(--clr-base-00);

	--clr-base-00: rgb(29 29 29);
	--clr-base-10: rgb(37 37 37);
	--clr-base-20: rgb(46 46 46);
	--clr-base-25: rgb(58 58 58);
	--clr-base-30: rgb(74 74 74);
	--clr-base-35: rgb(99 99 99);
	--clr-base-40: rgb(122 122 122);
	--clr-base-60: rgb(198 198 198);
	--clr-base-100: rgb(255 255 255);
	--clr-text-normal: rgb(255 255 255);
	--clr-red: rgb(255 69 69);
	--clr-blue: rgb(21, 115, 255);
	--clr-border: rgb(255 255 255 / .1);
	--clr-highlight: rgb(255 255 255 / .1);
	--clr-highlight-2: rgb(255 255 255 / .2);

	--shadow-normal: 0 8px 8px rgb(0 0 0 / .2);

	--font-size-h1: 1.75em;
	--font-size-h2: 1.375em;
	--font-size-h3: 1.125em;
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

button, input {
	background: transparent;
	border: none;
	font: inherit;
	color: var(--clr-text-normal);
	box-sizing: border-box;
}

/* :focus {
	outline: 2px solid var(--clr-red);
	outline-offset: -1px;
} */